* {
  box-sizing: border-box;
  user-select: none;
}

.center-this {
  height: 100%;
}
.grid-list-container {
  width: 75%;
  height: 100%;
  margin: auto;
}
.div-tile {
  width: 100%;
  height: 100%;
  text-align: center;
  border-width: 0.6vw;
  border-style: solid;
  border-image: linear-gradient(to top, #ff3434, darkorchid) 1;
}
.grid-list {
  top: 35%;
}

.grid-tile {
  border-radius: 0.7vw;
  mix-blend-mode: difference;
  transition: transform 1s;
}
.grid-tile:nth-child(2){
}
.grid-tile:nth-child(3){
}
.grid-tile:nth-child(4){
}
.follow-up{
  position: relative;
  text-align: center;
  margin-bottom: 20%;
}
.follow-up-hidden{
  opacity: 0;
  /*transform: translate(-50%, 0%);*/
}
.follow-up-show{
  /*opacity: 1;*/
  /*transform: translateX(0%);*/
  /*transition: all 1s;*/
}
.div-tile h1{
  mix-blend-mode: difference;
  font-weight: bolder;
  text-decoration: underline;
}
.div-tile p{
  mix-blend-mode: difference;
  font-weight: bolder;
  font-size: 1.0vw;
}
.div-tile ul{
  mix-blend-mode: difference;
  font-weight: bolder;
  font-size: 1.2vw;
}
.grid-tile:hover{
  filter: grayscale(1);
  mix-blend-mode: hard-light;
  transform: scale(1.2);
}
.div-tile:hover{
  background: black;
}
.applications{
  font-size: 1.5em;
  margin-bottom: 20%;
}
.key-features{
  font-size: 1.5em;
  margin-top: 20%;
}
.uses{
  font-size: 1.5em;
  margin-top: 20%;
}
.privacy-concerns{
  font-size: 1.5em;
  margin-top: 20%;
}
.applications p:hover{
  transform: translate(0%, -20%) scale(1.2);
  transition: transform 1s;
  text-decoration: #9cff00 underline;
}
.key-features p:hover{
  transform: translate(0%, -20%) scale(1.01);
  transition: transform 1s;
  text-decoration: #9cff00 underline;
}
.uses p:hover{
  transform: translate(0%, -20%) scale(1.01);
  transition: transform 1s;
  text-decoration: #9cff00 underline;
}
.privacy-concerns p:hover{
  transform: translate(0%, -20%) scale(1.01);
  transition: transform 1s;
  text-decoration: #9cff00 underline;
}
