* {
  box-sizing: border-box;
  user-select: none;
}

.center-this {
  height: 100%;
}

.about-container {
  width: 75%;
  margin: auto;
}

.div-tile {
  width: 100%;
  height: 100%;
  text-align: center;
  border-width: 0.6vh;
  border-style: solid;
  border-image: linear-gradient(to top, #ff3434, darkorchid) 1;
}
.grid-list {
  top: 9vh
}

.grid-tile {
  border-radius: 1vh;
  mix-blend-mode: difference;
  transition: transform 1s;
}
.grid-tile{
}
.div-tile h1{
  mix-blend-mode: difference;
  font-weight: bolder;
  text-decoration: underline;
}
.div-tile p{
  mix-blend-mode: difference;
  font-weight: bolder;
  font-size: 1.8vh;
}
.div-tile ul{
  mix-blend-mode: difference;
  font-weight: bolder;
  font-size: 2.2vh;
}
.grid-tile:hover{
  filter: grayscale(1);
  mix-blend-mode: hard-light;
  transform: translate(-2%, -2%);
}
.div-tile:hover{
  background: black;
}
.webGL {
  position: absolute;
}

